<%- include('partials/header') %>
<%- include('partials/navbar') %>
<div class="container">
  <div class="row">
    <h1>About</h1>
  </div>
  <hr>
  <div class="row">
    <p style="height:300px;">Potatoes are great</p>
  </div>
</div>
 <%- include('partials/footer') %>