include partials/header
.container-fluid
	.container(style="min-height:10em;")
		p Welcome, #{usernameData}
		p Username: #{usernameData}
		p Uid: #{uidData}
		p Type: #{typeData}



br
include partials/footer